{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "vue/no-v-html": "off" // since there is no user input
  },
  "ignorePatterns": [
    "node_modules/*",
    ".next/*",
    ".out/*",
    "!.prettierrc.js",
    "src/external/*"
  ]
}
