{
  "extends": ["stylelint-config-idiomatic-order"],
  "overrides": [
    {
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss"
    },
    {
      "files": ["**/*.vue"],
      "customSyntax": "postcss-html"
    }
  ]
}
