:root {
  background-color: #282828;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid #111;
  border-radius: 0;
  background: #444;
  color: #fff;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background: #333;
  }
}

input,
select {
  padding: 0.5rem 1rem;
  border: 1px solid #111;
  border-radius: 0;
  appearance: none;
  background: #00000040;
  color: #fff;

  &:focus {
    background: #00000090;
    outline: 1px solid #fff;
  }
}

select {
  width: 100%;

  &:focus-visible {
    outline: 1px solid #fff;
  }
}

hr {
  width: 100%;
}

.param-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.2rem 0;

  label {
    margin-right: 1rem;
    user-select: none;
  }

  input,
  select {
    width: 60%;
    padding: 0.2rem;
    border: 1px solid #00000040;
    border-radius: 0;
    background: #000000aa;

    &:focus {
      background: #000000dd;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  display: flex;
  width: 380px;
  min-height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 30px;
  border-radius: 15px;
  background: #222;
  transform: translate(-50%, -50%);

  &:before {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background: #00000068;
    content: "";
    transform: translate(-50%, -50%);
  }

  h2 {
    margin-top: 0;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 1rem;
    cursor: pointer;
    font-size: 2rem;

    &:before {
      content: "×";
    }
  }

  .tab-select {
    display: flex;
    width: 100%;
    align-items: start;

    button {
      padding: 0.75rem 1rem;
      border: none;
      margin-bottom: -2px;
      background: none;

      &.active {
        background: #333;
      }
    }
  }

  .tab-content {
    display: flex;
    width: 100%;
    min-height: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
    border-radius: 0 0 8px 8px;
    background: #333;

    a {
      margin-bottom: 1rem;
      color: #fff;
      text-align: center;

      &:hover {
        color: #fff;
      }
    }

    button {
      display: block;
      width: 120px;
      border: 2px solid #fff;
      margin: 10px auto 0;
    }
  }
}

// toastify

.toastify {
  position: fixed;
  z-index: 1000;
  right: 15px;
  bottom: -150px;
  max-width: calc(50% - 20px);
  padding: 12px 8px 12px 15px;
  background: linear-gradient(to right, #b62424, #a12020);
  box-shadow: 0 3px 20px 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.toastify.on {
  opacity: 1;
}

.toast-close {
  padding: 5px 10px;
  border: none;
  margin-left: 15px;
  background: none;
  cursor: pointer;
  font-size: 1em;
  opacity: 0.4;
}
