:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282828;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

button {
  padding: 0.5rem 1rem;
  background: #444;
  border: 1px solid #111;
  border-radius: 0;
  color: #fff;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background: #333;
  }
}

input,
select {
  appearance: none;
  color: #fff;
  border: 1px solid #111;
  border-radius: 0;
  padding: 0.5rem 1rem;
  background: #00000040;

  &:focus {
    outline: 1px solid #fff;
    background: #00000090;
  }
}

select {
  width: 100%;

  &:focus-visible {
    outline: 1px solid #fff;
  }
}

hr {
  width: 100%;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  top: 20%;
  left: calc(50% - 180px);
  width: 360px;
  background: #222222bb;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 10px;

  &:before {
    content: "";
    position: absolute;
    top: -20vh;
    height: 100vh;
    width: 100vw;
    left: calc(180px - 50vw);
    background: #00000050;
    z-index: -1;
  }

  a {
    margin-bottom: 1rem;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.param-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.2rem 0;

  label {
    margin-right: 1rem;
    user-select: none;
  }

  input,
  select {
    width: 60%;
    padding: 0.2rem;
    border: 1px solid #00000040;
    border-radius: 0;
    background: #000000aa;

    &:focus {
      background: #000000dd;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
