@use "variables" as *;

:root {
  background-color: #000;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: #ffbbee;
  font-weight: bold;

  &:visited {
    color: #ffbbee;
  }
}

hr {
  width: 100%;
}

// new toast

ol {
  &:focus-visible {
    outline: none;
  }
}

// toastify

.toastify {
  position: fixed;
  z-index: 1000;
  right: 15px;
  bottom: -150px;
  max-width: calc(50% - 20px);
  padding: 12px 8px 12px 15px;
  background: linear-gradient(to right, #b62424, #a12020);
  box-shadow: 0 3px 20px 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.toastify.on {
  opacity: 1;
}

.toast-close {
  padding: 6px 8px 5px;
  border: none;
  margin-left: 15px;
  background: none;
  cursor: pointer;
  font-size: 1em;
  opacity: 0.4;

  &:hover {
    background: #00000040;
  }
}
